@charset "utf-8";
/* CSS Document */

body
{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Tahoma, Geneva, sans-serif;
    color: #38271d;
    margin-left: 40%;
}

img
{
	border-radius:30px;	
	box-shadow: 5px 5px 10px 7px rgba(0,0,0,0.7);
}

#tartalom
{
	box-shadow: -5px 5px 10px 7px rgba(0,0,0,0.7);
	background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

h1
{
	text-shadow:2px 2px 5px  rgba(0,0,0,0.7);
	line-height:1.5em;
	color: #1c1815;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
	font-variant: small-caps;
    text-decoration: underline;
    color: #1c1815;
    font-size: 24px;
}

li
{
	list-style-position:inside;
}

p
{
	text-align:justify;
	margin: 20px 0;
}

p:first-letter
{
	margin-left:20px;
}

a
{
	color:#1c1815;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
	font-weight:800;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table td {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

img {
    border: 2px solid black;
}

.logo {
    width: 40%;
    display: block;
	float: right;
    margin: 0px 15px;
}

li {
	list-style-image:url(icon.png);
	font-size:20px;
}